.gameBoard{
    margin: 0 auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: yellow;
    padding: 5px;
    border-radius: 5px;

    div.row{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        

        div.tile{
            height: 150px;
            flex: 1;
            background-color: white;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            h3.tileText{
                margin: 0;
                font-size: 36px;
            }
        }
    }
}